.displap-info-container {
    // background-image: url('./../../public/Attack  on Titan.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    img {
        width: 400px;
    }
    .red { 
        color: red;
    }
    .green {
        color: green
    }
}
